@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

header {
  height: 17vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 1.3rem;
}

.logo {
  font-size: 1.5rem;
  cursor: default;
  color: olivedrab;
}

nav a {
  color: olivedrab;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: olivedrab;
}

.menu-toggle span {
  width: 100%;
  height: 2px;
  background-color: olivedrab;
  transition: all 0.3 ease-in-out;
}

.menu-toggle {
  display: none;
}

/* section */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.image-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border: 5px solid olivedrab;
  border-radius: 50%;
  /* need to be fixed */
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0.2rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  color: olivedrab;
}

.section-text {
  opacity: 0;
  transform: translateY(100px);
  animation-name: fadeInUp;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.image-container {
  opacity: 0;
  transform: translateX(100px);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1200px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  nav {
    display: none;
    position: fixed;
    top: 150px;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 1;
  }

  nav.show {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }
}
